.nav {
  &.nav--components {

    .nav__item--settings {
      .title {
        background-image: url(image_path('caffeine/admin/components/settings.png'));
      }
    }

    .nav__item--statistics {
      .title {
        background-image: url(image_path('caffeine/admin/components/statistics.png'));
      }
    }

    .nav__item--pages {
      .title {
        background-image: url(image_path('caffeine/admin/components/pages.png'));
      }
    }

    .nav__item--forms {
      .title {
        background-image: url(image_path('caffeine/admin/components/forms.png'));
      }
    }

    .nav__item--access {
      .title {
        background-image: url(image_path('caffeine/admin/components/access.png'));
      }
    }

    .nav__item--portfolio {
      .title {
        background-image: url(image_path('caffeine/admin/components/portfolio.png'));
      }
    }

    .nav__item--seo {
      .title {
        background-image: url(image_path('caffeine/admin/components/seo.png'));
      }
    }

    .nav__item--drafts {
      .title {
        background-image: url(image_path('caffeine/admin/components/drafts.png'));
      }
    }
  }
}

.content__components {
  font-weight: 300;

  .module__title {
    color: $colorComponentsModuleTitle;
    border-bottom-color: transparent;
  }

  .nav {
    &.nav--components {
      .nav__list {

      }

      .nav__item {
        .title {
          text-transform: uppercase;
        }
      }

      .nav__item {
        background-image: url(image_path('caffeine/admin/components/hexagon.png'));
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: 100% auto;

        .javascript-off & {
          &:hover {
            background-position-y: - calcRem(130px);
          }
        }

        .title {
          text-decoration: none;
        }
      }
    }
  }
}
