@font-face {
  font-family: "iconsfont";
  src: url(asset_path('fonts/iconsfont.eot'));
  src: url(asset_path('fonts/iconsfont.eot?#iefix')) format('eot'),
        url(asset_path('fonts/iconsfont.woff')) format('woff'),
        url(asset_path('fonts/iconsfont.ttf')) format('truetype'),
        url(asset_path('fonts/iconsfont.svg#iconsfont')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconsfont:before {
  font-family: "iconsfont";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsfont-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.iconsfont-2x { font-size: 2em; }
.iconsfont-3x { font-size: 3em; }
.iconsfont-4x { font-size: 4em; }
.iconsfont-5x { font-size: 5em; }
.iconsfont-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.iconsfont-add-button:before { content: "\E001" }
.iconsfont-delete-button:before { content: "\E002" }
.iconsfont-export-document:before { content: "\E003" }
.iconsfont-floppy:before { content: "\E004" }
.iconsfont-fullscreen:before { content: "\E005" }
.iconsfont-import-document:before { content: "\E006" }
.iconsfont-logout:before { content: "\E007" }
.iconsfont-minus:before { content: "\E008" }
.iconsfont-plus:before { content: "\E009" }
.iconsfont-settings:before { content: "\E00A" }
.iconsfont-statistics:before { content: "\E00B" }
